div {
    display: inline-block;
    width: 300px;
    vertical-align: top;
}
.awesome {
    background-color: green;
}
#coding p {
    color: blue;
}

h1.last {
    border: 1px solid black;
    border-radius: 5px;
    padding: 50px;
}